fastapi
uvicorn
gunicorn
motor
beanie
telethon
celery
redis
python-dotenv
pydantic>=2.0.0
pydantic-settings
python-multipart
pymongo
pysocks
python-jose[cryptography]
passlib[bcrypt]
slowapi
sse-starlette
email-validator
razorpay
dnspython
cryptography
bcrypt
